/* CSS Document for personal homepage */

body {
	background-image: url("img/grey-outer-clouds.png");
	background-position: 50% 0%;
	background-color: #1C1517;
	font-family: Garamond;
	text-align: center;
	color: white;
}

.container {
    width: 100%;
	
	align-items: center;
    justify-content: center;
    display: flex;
	flex-direction: column;
}

.h-divider{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 1px;
}

.weather-container {
    width: 400px;
    background-color: #1C1517;
	//border: 1px solid #ddd;
    padding: 8px 8px;
    color: white;
    text-align: center;
}
.inline {
    display: inline-block;
}
/*﻿
=======================================================================
Catalog container, catalog and link details
=======================================================================
This formatting system is used as the traditional logic for tables
	in HTML is not suitible for constant updates due to the central 
	unit of organization being rows instead of columns. Therefore the
	catalog and catalog container system focuses on columns such that
	categorizing links are made easy.
@Catalog container - A "table", not a literal HTMl table.
@Catalog - A column within the "table" that has two elements related
	to it, the catalog-title and catalog-list.
@Catalog-title - A label for the category of item being put into the
	catalog.
@Catalog-list - A collection of items that make up the catalog, the
	items inside are links. Merely named for organizational purposes
	but can be used for unique styling.
@Link - A link. This class was created to ensure control over the
	styling of a link inside of the catalog system. It is the 
	fundamental unit of the catalog.
*/
.catalog-container {
	width: 50%;
    
    justify-content: center;
    margin: 1em 0em;
	
	display: flex;
    flex-direction: row;
}
.catalog{
    width: 165px;
}
.catalog-title {
	background-color: #1C1517;
	border: 1px solid #ddd;
	
	width: 160px;
	height: 75px;
	
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	
	font-size: 25px;
    font-weight: 600;
    color: white;
}
.catalog-list {
	/*Only for organization*/
}
.link {
	color: white;
    text-decoration: none;
    display: block;
    margin: .3em 0em;
}
/*﻿
=======================================================================
Navigation bar details
=======================================================================
The navigation bar is meant to only house links that take the user away
	from index.html as all other links should keep within this "home"
	document while opening the desired link in a new tab.
*/
.navbar {
	position: relative;
    overflow: hidden;
	margin-bottom: 5px;
}
/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
	text-align: center;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 15px;
}
/* Change style of links in hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
/* Change style of the active/current link */
.navbar a.active {
	background-color: #0017CC;
    color: white;
}
/* Centered section inside the navigation bar */
.navbar-center {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Right-aligned section inside the navigation bar */
.navbar-right {
	float: right;
}